.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color:salmon;
    height:150vh;
}
.header{
    width:100%;
    height:10vh;
    background-color: red;
}
.logo{
    height:5vh;
    background-color: white;
    text-align:center;
    font-size: 30px;
}
.navigation{
    height:4vh;
    background-color: salmon;
}
.center{
    width: 100%;
    height:90vh;
    background-color: blue;
    display:flex;
}
.left{
    width:20%;
    background-color: white;
    height:90vh;
}
.menu-item{
    height:4vh;
    border-radius: 10px;
    background-color:salmon;
}
.company{
    width:100%;
    height:20vh;
    border-radius:80%;
}
.middle{
    width:50%;
    background-color: white;
    height:90vh;
}
.color_back{
    color:red;
}
.sdi{
    width:50%;
    height:4vh;
    background-color: salmon;
    display: flex;
    margin: 0 auto;
    font-size: 30px;
}
.input_text{
    width: 40%;
    height:5vh;
}
.input_text1{
    width:82%;
    height:10vh;
}
.right{
    width:30%;
    background-color: white;
    height:90vh;
}
.picture{
    width:80%;
    height:40vh;
}
.footer{
    width:100%;
    height:10vh;
    background-color: salmon;
}